body {
  position: relative;
  background: #364854
}

.navbar {
  padding: 0%;
  margin: 0%;
  display: block;
  width: 100%;
  height: 90px;
  left: 0px;
  top: 0px;
  background: #364854;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.3);
}

#commonimg {
  width: 32%;
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 70px;
  box-shadow: 0 0.3125rem 1.25rem rgb(0 0 0 / 70%);
}

#paint {
  display: block;
  margin: 30px;
  /* border: 1px solid black; */
  background: #202E39;
  /* opacity: 0.65; */
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 0.625rem; */
  box-shadow: 0 0.25rem 0.625rem rgb(0 0 0 / 70%);
}

img#img1 {
  display: none;
}

.up:hover {
  transition: ease-out 1s;
  background: #53FF7E;
  border: 2px solid rgba(46, 58, 89, 0.2);
  border-radius: 8px;
}

.up:hover>#img1 {
  transition: ease-out 1s;
  display: inline-block;
}

.up:hover>#img2 {
  display: none;
}

#tex {
  color: #FFFFFF;
}

.up:hover>#tex {
  color: #2E3A59;
}

.up {
  padding: 10px;
  background: #202E39;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.re {
  width: 227.42px;
  height: 26.42px;
  padding: 10px;
  background: #202E39;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.bu1 {
  padding: 0%;
  height: 30px;
  background: #202E39;
  border: 0ch;
  padding-left: 5px;
}

.bu2 {
  padding: 0%;
  margin: 0%;
  color: #FFFFFF;
}

.re:hover {
  transition: ease-out 1s;
  background: #53FF7E;
  border: 2px solid rgba(46, 58, 89, 0.2);
  border-radius: 8px;
}

.re:hover>button#reselect>#bu2 {
  color: #2E3A59;
}

.re:hover>button#reselect {
  transition: ease-out 1s;
  background: #53FF7E;
}

.re:hover>#re1 {
  transition: ease-out 1s;
  transform: rotate(50deg);
}

.con1, span {
  user-select: none;
  padding: 0%;
  margin: 0%;
}

.con1 {
  width: 210px;
  position: absolute;
  width: 210px;
  height: 48px;
  left: 138px;
  top: 21px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
  color: #53FF7E;
}

#sel {
  /* display: block; */
  /* position: inherit; */
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #FFFFFF;
  text-align: center;
  /* left: 530px; */
  /* top: 160px; */
  margin-top: 50px;
  width: auto;
  /* user-select: none; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  opacity: .65;
}

.co {
  width: 227.42px;
  height: 26.42px;
  padding: 10px;
  background: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.co2 {
  padding: 0%;
  height: 30px;
  background: #FFFFFF;
  border: 0ch;
  padding-left: 5px;
}

.co3 {
  padding: 0%;
  margin: 0%;
  color: #202E39;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  /* top: 0; */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  /* background-color: rgba(0,0,0,0.4);  */
  /* position: relative; */
  top: 50%;
  transform: translateY(-50%);
  transition: all .2s ease;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
